<h1>User Detail</h1>
<table class="table">
  <thead>
    <tr>
      <th>項目</th>
      <th>値</th>
    </tr>
  </thead>
  <tbody>
    <% @keys.each do |key| %>
      <tr>
        <th><%= key %></th>
        <td><%= @user_detail[key] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
